.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #eceff1;
  color: #000;
  font-size: 0.9em;
  font-family: sans-serif,helvetica;
  margin: 0;
  padding: 0;
}
:link {
  color: #0000FF;
  text-decoration:none;
}
:visited {
  color: #0000FF;
}
a:hover {
  color: #0000FF;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 0.6em 2em 0.4em;
  background-color: #2D4760;
  color: #ffffff;
  font-weight: normal;
  font-size: 1.75em;
  border-bottom: 2px solid #000;
}
h1 strong {
  font-weight: bold;
}
h2 {
  font-size: 1.1em;
  font-weight: bold;
}
img {
  border: 2px solid #fff;
  padding: 2px;
  margin: 2px;
}
a:hover img {
  border: 2px solid #3399FF;
}